@{
    ViewData["Title"] = "Bio Diversity";
    Layout = "_LayoutPages";
}

<section id="about">
    <div class="about-us">


        <div class="about-text">

            <h1>Bio Diversity</h1>

            <p>
                <strong>Significance:</strong> Biodiversity is essential for the functioning of ecosystems and provides numerous benefits to human well-being, including clean air, water, food, and medicines..
            </p>
            <p>
                <strong>Challenges:</strong> Human activities, such as habitat destruction (deforestation, urbanization), pollution, overexploitation of resources (overfishing, hunting), invasive species, and climate change, are major threats to biodiversity.
            </p>
            <p>
                <strong>Impacts:</strong>Loss of biodiversity can lead to ecosystem collapse, reduced resilience to environmental changes, disruption of food chains, loss of ecosystem services, and diminished genetic diversity.
            </p>


            <p>
                <strong>Solutions: </strong>Establishing protected areas, implementing sustainable land and resource management practices, supporting sustainable agriculture and fisheries, controlling invasive species, and raising awareness about the value of biodiversity.
            </p>

        </div>
    </div>
</section>