@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutPages";
}

<section id="about">
    <div class="about-us">
       

        <div class="about-text">

            <h1>Climate Change</h1>

            <p>
                <strong>Significance:</strong> Climate change is one of the most pressing challenges of our time, with far-reaching impacts on ecosystems, economies, and human societies worldwide.
                </p>
             <p>
                <strong>Challenges:</strong> Greenhouse gas emissions from burning fossil fuels (coal, oil, natural gas) are the primary driver of climate change. These emissions trap heat in the Earth's atmosphere, leading to rising global temperatures.
             </p> 
             <p>
                <strong>Impacts:</strong>Climate change results in more frequent and severe heatwaves, droughts, floods, storms, and rising sea levels. It also affects agriculture, water resources, biodiversity, and human health.
             </p>
              

            <p>
                <strong>Solutions: </strong>Transitioning to renewable energy sources, such as solar, wind, and geothermal power, reducing emissions from transportation and industry, increasing energy efficiency in buildings and appliances, protecting and restoring forests, and promoting sustainable land use practices.
            </p>
         
        </div>
    </div>
</section>