@{
    ViewData["Title"] = "Conservation";
    Layout = "_LayoutPages";
}

<section id="about">
    <div class="about-us">


        <div class="about-text">

            <h1>Conservation</h1>

            <p>
                <strong>Significance:</strong>Conservation efforts aim to protect and restore ecosystems, wildlife, and natural resources for future generations.
            </p>
            <p>
                <strong>Challenges:</strong>   Loss of habitat due to deforestation, urbanization, and agriculture, poaching and illegal wildlife trade, climate change impacts on ecosystems, and lack of funding and resources for conservation projects.
            </p>
            <p>
                <strong>Impacts:</strong> Conservation preserves biodiversity, maintains ecosystem services (such as pollination, soil fertility, and carbon sequestration), supports ecotourism and local economies, and safeguards cultural and spiritual values.
            </p>


            <p>
                <strong>Solutions: </strong>Establishing and managing protected areas (national parks, marine reserves), restoring degraded ecosystems (wetlands, forests), implementing conservation strategies for endangered species, engaging local communities in conservation efforts, and supporting conservation organizations and initiatives.
            </p>

        </div>
    </div>
</section>