@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}



<main>
    <div class="landing-page-section">
        <div class="main-heading">
          
            <h1> Your contribution is important</h1>
        

        </div>
    </div>
</main>

<section id="about">
    <div class="about-us">
        <div class="about-img">

            <img src="~/css/assets/about-img.jpeg" alt="img" />
        </div>

        <div class="about-text">
            
            <h1>About us</h1>

            <p>
                Welcome to [Your Website Name], a passionate endeavor to raise awareness and inspire action 
                for a sustainable future. Our mission is to provide accessible, engaging, and reliable information
                on environmental issues, solutions, and opportunities. Founded by a team of dedicated individuals 
                committed to making a positive impact, we believe that through education and collaboration, we can 
                create a greener, healthier planet for generations to come. Join us on this journey 
                towards a more sustainable and harmonious relationship with our environment.
            <p>
               
            </p>
            <p>
                At [Your Website Name], we believe that knowledge is the first step
                towards meaningful change. Our content is carefully curated to provide 
                clear insights into pressing environmental issues, showcase inspiring success
                stories, and offer practical tips for sustainable living. We are committed to
                fostering a community of environmentally conscious individuals, educators, and 
                organizations working together to protect and preserve our planet. Whether you're a
                student, a concerned citizen, or a seasoned environmental advocate, we invite you to 
                explore, learn, and take action with us.
            </p>
        </div>
    </div>
</section>

<!-- --------------------- -------------------------------------------------- -------------------------->
<!-- --------------------- Events -------------------------->
<section id="events">
    <h1>Featured Subjects</h1>
    <div class="event-section">
        <div class="event-cards">
            <img src="~/css/assets/climate_change.jpg" alt="img" height="201" />
            <h2>climate change</h2>
            <p>
                "Urgent global action needed to mitigate rising temperatures and extreme weather."

            </p>
            <div class="donate-blog-btn">

                <a asp-area="" asp-controller="Home" asp-action="Climate_change" class="cta-btn-card">Read more</a>
            </div>
        </div>
        <div class="event-cards">

            <img src="~/css/assets/Biodiversity.png" alt="img" height="201" />
            <h2>Bio diversity</h2>
            <p>
                "Protecting the rich tapestry of life on Earth for a resilient ecosystem."
            </p>
            <div class="donate-blog-btn">
                <a asp-area="" asp-controller="Home" asp-action="Bio_diversity" class="cta-btn-card">Read more</a>
            </div>
        </div>
        <div class="event-cards">

            <img src="~/css/assets/reneawable_energy.jpeg" alt="img" height="201" />
            <h2>Re-newable energy</h2>
            <p>
                "Harnessing the power of sun, wind, and water for a clean energy future."
            </p>
            <div class="donate-blog-btn">
                <a asp-area="" asp-controller="Home" asp-action="Renewable_energy" class="cta-btn-card">Read more</a>
            </div>
        </div>


    </div>
    <div class="event-section">
        <div class="event-cards">
            <img src="~/css/assets/waste-management.jpg" alt="img" height="201" />
            <h2>Waste Management</h2>
            <p>
                "Reducing, reusing, recycling — keys to a sustainable waste-free world."
            </p>
            <div class="donate-blog-btn">
                <a asp-area="" asp-controller="Home" asp-action="Waste_management" class="cta-btn-card">Read more</a>
            </div>
        </div>
        <div class="event-cards">

            <img src="~/css/assets/Sustainable Living.jpeg" alt="img" height="201" />
            <h2>Sustainable Living</h2>
            <p>
                "Making eco-conscious choices for a greener, healthier lifestyle."

            </p>
            <div class="donate-blog-btn">
                <a asp-area="" asp-controller="Home" asp-action="Sustainable_living" class="cta-btn-card">Read more</a>
            </div>
        </div>
        <div class="event-cards">

            <img src="~/css/assets/Conservation.jpeg" alt="img" height="201" />
            <h2>Conservation</h2>
            <p>
                "Preserving natural habitats and species diversity for future generations."

            </p>
            <div class="donate-blog-btn">

                <a asp-area="" asp-controller="Home" asp-action="Conservation" class="cta-btn-card">Read more</a>
            </div>
        </div>


    </div>

</section>

<!-- --------------------- -------------------------------------------------- -------------------------->
<!-- --------------------- Testimonals -------------------------->
<section id="testimonal">
    <h1>What Other Say </h1>

    <div class="outerdiv">
        <div class="innerdiv">
            <!-- div1 -->
            <div class="div1 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <img src="~/css/assets/profile-1.jpeg" alt="img" />

                    </div>
                    <div class="detbox">
                        <p class="name">Daniel Clifford</p>
                        <p class="designation"></p>
                    </div>
                </div>
                <div class="review">
                    <h4>
                        "Supporting Educator has been one of
                        the most fulfilling experiences of my life."
                    </h4>
                    <p>
                        I've learned so much from Educator! Their clear and informative articles have helped me understand complex environmental issues. 
                        I now feel empowered to make positive changes in my daily life to help protect our planet.
                    </p>
                </div>
            </div>
            <!-- div2 -->
            <div class="div2 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <img src="~/css/assets/Profile1.jpg" alt="img" />

                    </div>
                    <div class="detbox">
                        <p class="name">Jonathan Walters</p>
                        <p class="designation"></p>
                    </div>
                </div>
                <div class="review">
                    <h4>
                        I'm proud to be a part of
                        their important mission
                    </h4>
                    <p>
                        "As an educator, I've found the resources on Educator invaluable for teaching my students about biodiversity. The lesson plans and activities are engaging
                        and align perfectly with our curriculum. "
                    </p>
                </div>
            </div>
            <!-- div3 -->
            <div class="div3 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <img src="~/css/assets/Profile3.jpg" alt="img" />

                    </div>
                    <div class="detbox">
                        <p class="name dark">Kira Whittle</p>
                        <p class="designation dark"></p>
                    </div>
                </div>
                <div class="review dark">
                    <h4>Such a life-changing experience. Highly recommended!</h4>
                    <p>
                        "I joined the eco-friendly challenge featured on Educator and it completely transformed how I
                        approach sustainability. The tips and guides were practical 
                        and easy to follow. I'm now more conscious of my choices and their impact on the environment."
                    </p>
                </div>
            </div>
            <!-- div4 -->
            <div class="div4 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <img src="~/css/assets/Profile2.jpg" alt="img" />

                    </div>
                    <div class="detbox">
                        <p class="name dark">Jeanette Harmon</p>
                        <p class="designation dark"></p>
                    </div>
                </div>
                <div class="review dark">
                    <h4>An overall wonderful experience</h4>
                    <p>
                        "I've been following the updates on Educator for months now, and I'm continually impressed by the depth of their articles. From renewable energy to 
                        conservation efforts"
                    </p>
                </div>
            </div>
            <!-- div5 -->
            <div class="div5 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <img src="~/css/assets/profile-2.jpeg" alt="img" />

                    </div>
                    <div class="detbox">
                        <p class="name">Patrick Abrams</p>
                        <p class="designation"></p>
                    </div>
                </div>
                <div class="review">
                    <h4>It's inspiring to see the dedication and passion of the volunteers at Educator.</h4>
                    <p>
                        "I recently attended one of the environmental workshops promoted on Educator, and it was fantastic! The speakers were knowledgeable, and I left feeling inspired and motivated to get involved in local conservation projects.
                        Thank you for connecting me to such enriching experiences!"

                    </p>
                </div>
            </div>
        </div>
    </div>

</section>


