@{
    ViewData["Title"] = "Renewable Energy";
    Layout = "_LayoutPages";
}

<section id="about">
    <div class="about-us">


        <div class="about-text">

            <h1>Renewable Energy</h1>

            <p>
                <strong>Significance:</strong> Renewable energy sources offer a clean, sustainable alternative to fossil fuels, reducing greenhouse gas emissions and mitigating climate change.
            </p>
            <p>
                <strong>Challenges:</strong>  Intermittency (reliability of solar and wind power when the sun isn't shining or the wind isn't blowing), storage and distribution of energy, initial costs of renewable energy infrastructure, and transitioning from fossil fuel-dependent economies.
            </p>
            <p>
                <strong>Impacts:</strong> Renewable energy technologies, such as solar panels and wind turbines, produce electricity without emitting greenhouse gases, air pollutants, or toxic byproducts.
            </p>


            <p>
                <strong>Solutions: </strong>Continued research and development of renewable energy technologies, investment in grid modernization and energy storage solutions, government incentives and policies to promote renewable energy adoption, and public education on the benefits of clean energy.
            </p>

        </div>
    </div>
</section>