@{
    ViewData["Title"] = "Waste Management";
    Layout = "_LayoutPages";
}

<section id="about">
    <div class="about-us">


        <div class="about-text">

            <h1>Waste Management</h1>

            <p>
                <strong>Significance:</strong> Proper waste management is crucial for preventing pollution, protecting ecosystems, and conserving resources.
            </p>
            <p>
                <strong>Challenges:</strong>  Inadequate waste infrastructure, improper disposal of hazardous materials, lack of recycling facilities, and increasing volumes of electronic and plastic waste.
            </p>
            <p>
                <strong>Impacts:</strong>  Improper waste disposal leads to contamination of soil, water, and air, harms wildlife through ingestion or entanglement, and contributes to greenhouse gas emissions from landfills.
            </p>


            <p>
                <strong>Solutions: </strong>Following the waste hierarchy (Reduce, Reuse, Recycle), implementing recycling programs for paper, glass, metal, and plastics, promoting composting of organic waste, supporting extended producer responsibility (requiring manufacturers to take back and recycle products), and investing in waste-to-energy technologies.
            </p>

        </div>
    </div>
</section>